{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
{% load static tailwind_tags %}

<div class="container mx-auto">
  <h4 class="text-xl font-bold text-center text-gray-900 m-6">Available Blood Units</h4>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16">
        {% for blood_group in bloodStock %}
        <div class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl rounded-lg">
            <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-rose-500 transition-all duration-300 group-hover:scale-[10]"></span>
            <div class="relative z-10 mx-auto max-w-md">
                <span class="grid h-20 w-20 place-items-center font-bold text-white rounded-full bg-rose-500 transition-all duration-300 group-hover:bg-rose-400">
                  {{ blood_group.bloodgroup }}
                </span>
                <div class="pt-5 text-right font-semibold leading-7">
                    <p>
                        <a href="#" class="text-rose-500 transition-all duration-300 group-hover:text-white">{{ blood_group.unit }} ml</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
<h3 class="text-center">Update Blood Unit</h3><br>
<div class="xyz">

    <form class="form-inline" method="POST">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-6">

            <select name="bloodgroup" class="form-control">
                <option disabled="disabled" selected="selected">Choose Blood Group</option>
                <option>O+</option>
                <option>O-</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
            </select>
          </div>
        <div class="form-group mx-sm-3 mb-6">

          <input type="number" class="form-control" name="unit" placeholder="Unit">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Update</button>
      </form>
</div>
</div>
{% endblock content %}
