{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
{% load static tailwind_tags %}
<div class="container">
<h4 class="text-xl font-bold text-center text-gray-900 m-6">Donor Information</h4>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-5">
    <table class="w-full text-sm text-center rtl:text-right text-gray-900">
        <thead class="text-xs text-gray-700 uppercase bg-violet-200">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Bloodgroup
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Contact
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit
                </th>
                <th scope="col" class="px-6 py-3">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            {% for t in donors %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                    <img class="w-10 h-10 rounded-full" src="{% static t.profile_pic.url %}" alt="Jese image">
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{t.get_name}}</div>
                        <div class="font-normal text-gray-500">{{t.user.email}}</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    {{t.bloodgroup}}
                </td>
                <td class="px-6 py-4">
                    {{t.address}}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium hover:underline">{{t.mobile}}</a>
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'update-donor' t.id %}" class="font-medium text-blue-600 hover:underline"><i class="fas fa-edit"></i></a>
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'delete-donor' t.id %}" class="font-medium text-red-600 hover:underline"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock content %}

