{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-white border-gray-200 fixed top-0 w-full shadow-lg z-50 flex items-center justify-between p-4">
        <img src="{% static 'image/logo-color.png' %}" alt="company logo" class="h-12 ml-5">
        
        <div>
            <ul class="flex space-x-4">
                <li>
                    <a class="text-black text-semibold flex items-center hover:text-rose-500" href="/logout">
                        Logout &nbsp; <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="flex min-h-screen mt-20">
            <div class="w-1/6 bg-gray-300 p-4">
                <ul class="space-y-4">
                    <li>
                        <a href="/" class="flex items-center text-gray-800 p-2 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-dashboard' %}bg-gray-100{% endif %}">
                            <i class="fas fa-home mr-2"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="/admin-donor" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-donor' %}bg-gray-100{% endif %}">
                            <i class="fas fa-user mr-2"></i>Donor
                        </a>
                    </li>
                    <li>
                        <a href="/admin-patient" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-patient' %}bg-gray-100{% endif %}">
                            <i class="fas fa-user-injured mr-2"></i>Patient
                        </a>
                    </li>
                    <li>
                        <a href="/admin-donation" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-donation' %}bg-gray-100{% endif %}">
                            <i class="fas fa-hand-holding-medical mr-2"></i>Donations
                        </a>
                    </li>
                    <li>
                        <a href="/admin-request" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-request' %}bg-gray-100{% endif %}">
                            <i class="fas fa-sync-alt mr-2"></i>Blood Requests
                        </a>
                    </li>
                    <li>
                        <a href="/admin-request-history" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-request-history' %}bg-gray-100{% endif %}">
                            <i class="fas fa-history mr-2"></i>Request History
                        </a>
                    </li>
                    <li>
                        <a href="/admin-blood" class="flex items-center text-gray-800 hover:bg-gray-100 rounded-lg p-2 {% if request.path == '/admin-blood' %}bg-gray-100{% endif %}">
                            <i class="fas fa-hand-holding-water mr-2"></i>Blood Stock
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main_content flex-grow justify-center">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
