{% load static tailwind_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% tailwind_css %}
</head>
<body>
    {% include "blood/navbar.html" %}

    <div class="flex h-screen items-center justify-center p-10">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-center font-extrabold uppercase text-rose-500">Admin Login</h2>

                {% if form.errors %}
                    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <form class="space-y-4 md:space-y-6" method="POST">
                    {% csrf_token %}
                    <div>
                        <label class="block mb-2 text-sm font-medium text-rose-500" for="{{ form.username.id_for_label }}">Username</label>
                        {% render_field form.username class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-rose-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-rose-500" for="{{ form.password.id_for_label }}">Password</label>
                        {% render_field form.password class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-rose-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <button class="mb-3 w-full rounded-2xl bg-rose-500 px-5 py-3 font-semibold text-white" type="submit">Login</button>
                    </div>
                </form>
                <p class="text-sm font-light text-gray-500">Do not have an account? <a class="font-medium text-rose-500 hover:underline" href="/patient/patientsignup">Click here to register</a></p>
            </div>
        </div>
    </div>

    {% include "blood/footer.html" %}
</body>
</html>
